body {
  background-color: #F5F5F5;
}

.containerLogin {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-1 {
  flex: 1.3;
  background-color: #000;

}

.section-2 {
  flex: 1.7;
  background-color: #F5F5F5;
}